


a{

    margin-top: -116px;
  margin-left: 18px;
  position: absolute;
  font-size: 50px;

}




h1 {
  text-align:center;
  position:relative;
  top:45vh;
  font-size: 60px;
}

span {
  animation: tilt-shaking .1s infinite;
  display: inline-block;
  color: red;
}

@keyframes tilt-shaking { 
  0% { transform: rotate(0deg); 
  }
  25% { transform: rotate(5deg); 
  }
  50% { transform: rotate(0deg); 
  }
  75% { transform: rotate(-5deg); 
  }
  100% { transform: rotate(0deg); 
  }
}