

.question-container{
justify-content: 5px;
text-align: center;

font-size:25px;

}


body {



	background-image: url(https://i.pinimg.com/originals/5a/0f/1d/5a0f1db19b4a4c48889156dfc678f726.gif);
} 




h1 { font-family: 'Times', sans-serif; 
	
}
p {
	font-family: 'Roboto', sans-serif;
}
p {
	font-family: 'Roboto' sans-serif;
}
p {
	font-family: 'Roboto' sans-serif;
}
p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}


p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}


p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}
p {
	font-family: 'Roboto' sans-serif;
}
p {
	font-family: 'Roboto' sans-serif;
}


p {
	font-family: 'Roboto' sans-serif;
}

p {
	font-family: 'Roboto' sans-serif;
}


p {
	font-family: 'Roboto' sans-serif;
}


p {
	font-family: 'Roboto' sans-serif;
}


